main {
  flex: 1;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;

  width: 100%;
  max-width: 80ch;
  margin: 0 auto;

  h1 {
    font-size: 1.9em;
    text-align: center;
  }

  p {
    width: 100%;
  }
}
